html{
    height: 100%;
}
body{
    height: 100%;
}
#main{
    margin: 0;
    padding: 0;
    height: 100%;
}
#main-row{
    height: 100px;
    background-color: #e2e8f0;
}
#main-col{
    color: #4a5568;
    background-color: #F6FAFF;
    text-align: center;
    font-size: 3em;
    height: 100%;
}
#post-wrapper{
    margin: 0.64em;
}
#post{
    box-sizing: border-box;
    background-color: white;
    padding: 1.5vw 2.2vw 2.2vw 2.2vw;
    height: 11em;
}
#header{
    height: fit-content;
    width: 100%;
}
#titulo{
    font-weight: bold;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}
#autor{
    text-align: left;
    color: #a0aec0;
    font-size: 0.4em;
    padding-left: 0.4em;
    font-weight: bold;
}
#contenido-wrapper {
    height: 83%;
    box-sizing: border-box;
}

#contenido {
    height: 100%;
    box-sizing: border-box;
    text-align: left;
    font-size: 0.5em;
}
#bar{
    font-size: 0.3em;
    background-color: #ECF3F6;
}
#bar a{
    color: #4a5568;
    text-decoration: none;
}
#save {
    width: 3.6vw;
}

