#main{
    margin: 0;
    padding: 0;
}
#main-row{
    background-color: #e2e8f0;
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
#main-col{
    color: #4a5568;
    background-color: #F6FAFF;
    text-align: center;
    font-size: 3em;
    height: 100%;
}
.post-wrapper{
    margin: 0.64em;
}
.post{
    box-sizing: border-box;
    background-color: white;
    padding: 1vw 2.2vw 2.2vw 2.2vw;
    height: 11em;
    cursor: pointer;
}
.header{
    height: fit-content;
    width: 100%;
}


.bar{
    font-size: 0.3em;
    background-color: #ECF3F6;
}
.bar a{
    color: #4a5568;
    text-decoration: none;
}
.save {
    width: 3.6vw;
}

