.search-bar{
    width: 100%;
}
.navbar{
    position: sticky;
    z-index: 1000;
    top: 0;
}
.notificacion-svg svg{
    width: 20px;
    align-self: center;
    margin: 3px;
    fill: #6b7280;
    fill-opacity: 100%;
    border-style: none;
}
.notificacion-svg svg:hover{
    fill-opacity: 75%;
    cursor: pointer;
}
.notificacion-svg > *[aria-expanded="true"]{
    fill: royalblue;
}
.notificacion-svg > .dropdown-menu{
    max-width: 300px;
}

