.bar-wrapper{
    padding: 0;
}
.bar{
    font-size: 0.9rem;
    padding: 0 0 0 0.3vw;
    background-color: white;
}
.reactions{
    display: flex;
    justify-content: end;
    padding-right: 7%;
}
.reaction{
    padding: 0.5rem 1rem;
}
.reaction svg .svg-clicked{
    fill-rule: nonzero;
    fill: royalblue;
}
.reaction svg:hover{
    fill: royalblue;
}

.reaction svg{
    height: 25px;
    width: 25px;
    margin: auto;
    display: block;
    cursor: pointer;
}


.save-wrapper{
    display: flex;
    align-items: start;
}
.save {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 50px;
    align-self: start;
    padding: 0;
}
.save img{
    margin: 0;
    height: 40px;
    position: relative;
}

.form-comentario{
    padding-left: 2rem;
    padding-right: 6rem;
    display: none;

}
.comentario-label{
    font-size: 1rem;
    text-align: left;
    margin: 1rem 1rem 1rem 0;
    padding-left: 0;
}
.area-comentario{
    height: 12rem;
}
.comentario-submit{
    display: flex;
    width: 10%;
    text-align: center;
    justify-content: center;
    margin: 2rem 0 0 0;
}
